body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
    


.header-principal {
    text-align: left;
    width: 765px;
    margin: auto;
    padding: 12px 250px;
    background-color: rgb(255, 219, 91);
   
}

.titulo-site {
    color: rgb(131, 22, 92);
}

.subtitulo {
    text-align: center;
    color: rgb(131, 22, 92);
}

a {
    color: rgb(131, 22, 92);
    text-decoration: none;
}

.enunciado {
    text-align: center;
    color: rgb(131, 22, 92);
}



.main { 
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 1%;
    background-color: cornsilk;
    margin-left: auto;
    margin-right: auto;
}

.conteudo {
    text-align-last: auto;
    color: rgb(65, 10, 49);
}

.Grid {
    text-align: justify;
    display: grid;
    margin: auto;
    width: 1000px;
    grid-template-columns: 500px 490px;
    grid-template-rows: 400px 400px 400px 2px;
    grid-column: 2/4 ;
    grid-gap: 10px;
}

img {
    border-radius: 10px;
}

footer {
    margin: auto;
    background-color: rgb(255, 219, 91);
    text-align: center;
    width: 748px;
    padding: 12px 260px;
}